/* sidebar styles */

@font-face {
    font-family: odin-font;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    display: flex;
    justify-content: center;
    align-items: centre;
    background-color: rgb(32, 28, 28);

}

.sidebar {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    min-height: 90vh;
    background-position: center;
    width: 20vw;
}



.logo {
    position: relative;
    top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 25, 25, 0.6);
    height: 100px;
}

.logo img {
    height: 5em;
}

.logo p {
    font-size: 4em;
    color: beige;
    font-family: odin-font, sans-serif;
}

/* mainform styles*/

.mainform {
    background-color: white;
    border: solid black;
    width: 40vw;
    height: auto;
}

label,
input {
    display: block;
}